* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(50, 58, 37);            /*和背景图地面颜色相近*/
    overflow: hidden;                               /*防止网页左右滚动*/
}

#background-image {
    width: 100%;
    max-width: 550px;
    position: absolute;
    z-index: -3;
}

#background-cover {
    width: 100%;
    max-width: 550px;
    position: absolute;
    z-index: -2;
}

#meteor {                                           /* 可以通过控制这个元素的padding属性决定流行的位置*/
    width: 100px;
    position: absolute;
    padding-top:250px;
    padding-left:300px;
    z-index: -1;
    display: none;
}

#meteor-image {
    width: 150px;
    height: 130px;
    opacity: 0.8;
    
}

#universal {
    width: 100%;
}

.Panel {
    width: 100%;  
    display: none;
    
    text-align: center;
    color: white;
    opacity: 0.9;
}

#titleZone {
    float:left;
    width:62%;
    height:350px;
    background-color:rgba(120,120,120,0.2);
    border-radius: 10px;
    text-align: center;
    color: rgba(255,255,255,0.9)
}

#titlePic {
    width:100%;
    opacity: 0.9;
}

.bigBtn > div {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    background-color: #8299a1;
    padding-top: 10px;
}

#infoPanel {
    overflow-y: auto;
    text-align: center;
    color: rgba(255,255,255,0.9)
}

.panelContents {
    padding: 0 20px;
    text-align: left;
    opacity: 0.9;
}

.panelContents > p {
    opacity: 0.8;
    padding: 4px;
    font-size: 14px;
}

.panelContents > .alert {
    color: red;
    font-size: 16px;
    text-align: center;
    display: none;
}

.panelContents > h3 {
    padding: 6px;
}

.panelContents > p.infomation {
    font-size: 10px;
    line-height: 14px;
    opacity: 0.6;
}

.infoBtnContainer {
    border-bottom-color: white;
    border-bottom-width: thin;
    border-bottom-style: solid;
    height: 40px;
    opacity: 0.7;
    text-align: left;
    margin-bottom: 8px;
}

.infoBtn > div {
    width: 100%;
    opacity: 0.9;
    border-radius: 8px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 12px;
    overflow: hidden;
}

.infoBtn > div > strong {
    color: lightgrey;
}

.hiddenWishID{
    display: none;
}